body{
    margin: 50px 150px;
}
 nav{
    display: flex;
    justify-content: space-between;
} 


 .first{
    display: flex;
} 
.travel{
    color: #FF5400;
}
nav>ul{
    display: flex;
}
nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
}
.banner{
    /* margin-right: 170px; */
    max-width: 1100px;
    height: 500px;
    padding-right: 145px;
}
.imgtxt{
    position:absolute;
    top: 20%;
    text-align: center;
    padding-right: 40%;
}
.explore{
    color: #FFF;
font-family: Mulish;
font-size: 64px;
font-style: normal;
font-weight: 800;
line-height: normal;
}
.dolor{
    color: #FFF;
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.banner>ul{
    display: flex;
}
.input1{
    border-radius: 8px;
    background: #FFF;
    max-width: 165px;
    max-height: 60px;
   
}




